# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# testing
coverage/
tsconfig.tsbuildinfo

# environment
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
